<template name="navbar">
	<div id="banner">
	    <span style="background-color: #fff; opacity:0.5; border-bottom: 1px solid #ddd; padding: 8px 10px; font-size:medium">
	        <b>click & drag to rotate view | scroll to zoom | arrows move cursor; U & D for up/down | ENTER to create/delete | S to step</b>
	    </span>
	    <div>
	        <button class="bannerButtons" onclick="toggleRunning()">RUN/STOP</button>
	        <button class="bannerButtons" onclick="fastSlow()">FAST/SLOW</button>
	        <button class="bannerButtons" onclick="isRunning = true; mainLoop(); isRunning = false;">STEP</button>
	        <button class="bannerButtons" onclick="reverseDirection()">DIRECTION</button>
	        <button class="bannerButtons" onclick="randomCells(12, -2, 1)">RANDOM</button>
	        <button class="bannerButtons" onclick="playStopMusic()">MUSIC</button>
	        <button class="bannerButtons" onclick="toggleTrails()">TRAILS</button>
	        <button class="bannerButtons" onclick="clearGrid()">CLEAR</button>
	        <button class="bannerButtons" onclick="update()">UPDATE</button>
	        <button class="bannerButtons" onclick="reset()">RESET</button>
	    </div>
	    <a href="faq.html" target="_blank" style="font-size:larger">faq</a>
	    |
	    <a href="https://github.com/danx0r/BusyBoxes" target="_blank" style="font-size:larger">source</a>
	</div>
</template>