<template name="sidebar">
	<div id="leftLinks" style="position:absolute;font-size:large">
		
		<script>
		</script>

        <div style="opacity:0.7">
            Generation:
            <span id="generation"></span>
            <br/>
            phase:
            <span id="showphase"></span>
            <br/>
            Direction:
            <span id="direction"></span>
            <br/>
            Speed:
            <span id="showspeed">fast</span>
            <br/>
            Cells:
            <span id="cellcount"></span>
            <br/>
            Cursor:
            <span id="cursorpos"></span>
            <br/>
            Hash:
            <span id="showhash" style="font-size:smaller"></span>
            <br/>
            <span id="showinfo"></span>
            <span id="duplicates"></span>
        </div>
        <span id="debug"></span>
        <br/>
        <button class="goHash" id="introHash" data-hash="PeciXwDuTA0">Intro
        </button>
        <a href={}></a>
        <br/>

        <button class="goHash" data-hash="GJR0">Glider 1</button>
        <br/>
        <button class="goHash" data-hash="UMlSpB0">Glider 2</button>
        <br/>
        <button class="goHash" data-hash="IYKmDcRzB0">Glider 3</button>
        <br/>
        <button class="goHash" data-hash="IYKmDIA0">Glider 4</button>
        <br/>
        <button class="goHash" data-hash="PB0jwU0vAB0">Glider 5</button>
        <br/>
        <button class="goHash" data-hash="PR0cME0nAA0">Glider 6</button>
        <br/>
        <button class="goHash" data-hash="IFIWA0">Cycle 1 (12)</button>
        <br/>
        <button class="goHash" data-hash="csmKB0">Cycle 2 (12)</button>
        <br/>
        <button class="goHash" data-hash="AQGk0">Cycle 3 (24)</button>
        <br/>
        <button class="goHash" data-hash="BwF6Ao40">Cycle 4 (36)</button>
        <br/>
        <button class="goHash" data-hash="UMXTUukA0">Cycle 5 (42)</button>
        <br/>
        <button class="goHash" data-hash="ACRAs0">Cycle 6 (60)</button>
        <br/>
        <button class="goHash" data-hash="sIECiMgQKE0">Cycle 7 (84)</button>
        <br/>
        <button class="goHash" data-hash="IDYCyj0B5">Cycle 8 (144)</button>
        <br/>
        <button class="goHash" data-hash="cICOg2CB0">Cycle 9 (582)</button>
        <br/>
        <button class="goHash" data-hash="sICMBZBAULIB0">Cycle 10 (3966)</button>
        <br/>
        <button class="goHash" data-hash="Tc9FLA0">Boomerang (60)</button>
        <br/>
        <button class="goHash" data-hash="HS8UNxTp0">Deflect (Routing)</button>
        <br/>
        <button class="goHash" data-hash="XUcUN4Ab3pB0">Logic (Interaction Gate)</button>
        <br/>
        <button class="goHash" data-hash="cs6dxwG0">Move</button>
        <br/>
        <button class="goHash" data-hash="MLDQ3S82JzTA0">Fast and Slow</button>
        <br/>
        <button class="goHash" data-hash="EAHuexNzTmB0">Capture and emit</button>
        <br/>
        <button class="goHash" data-hash="QAgIjoICCzCBB0">Delayed release</button>
        <br/>
        <button class="goHash" data-hash="vwB3JyPaCCCPQCCCPQCCCPQCCD1dPHzPM0">Attraction</button>
        <br/>
        <button class="goHash" data-hash="MnCTi7uMxOftTl7px47ec4vgSHgMH4FTu5zo-AZk5eecBOvjnR8BSU5ecunSHFwcvwEh4BOm.APh4eTqSB0', this, 24)" id="order_chaos">Order Out of Chaos</button>
        <br/>
        <button class="goHash" data-hash="UHfALungB5AgUEEegIFBBHoCBwAj0BAoII9AQKCDydXwCsA0', this, 24)" id="struct_decay">Structure And Decay</button>
        <br/>
        <button class="goHash" data-hash="UkDEoQIHETAnBgQo9IUYECBwzo6Q4AQSdAUmCBDhoQOAcCCDOjoIBAgcAUmCnB0CBAgcQ9Abg6KHATBSdAYOE4OkUUIFBejBAgcIJOgIEDgBBJ1BwnBgwcQ9AUY9ACToCBxE6QoIJwdIcI9IUKPQECBwBB0">
            Big Bang (Entropy)</button>
        <br/>
        <button class="goHash" data-hash="HefAXExMTE8Axy.Ag7vAMcuJicpw854AUqVKlSpUqVL8Bz4JUaKVKl0', this, 40)" id="strung_out">Strung out</button>
        <br/>
        <button class="goHash" data-hash="EOjuPgFiYmJieAY8AnwIPgL4BzwBw0NDYnKeANLzngEo0aNH4DnwGSpUqVLR0', this, 40)" id="octave">Octave</button>
        <br/>
        <button class="goHash" data-hash="cDvPgDiQ0NiYngHPAN8CD4EeAc8AweA2Gh8DMSGhuc8APMcyWjRSpaPwGPgOlS0aB0', this, 40)" id="strung_out">Harmonic Chaos</button>
        <br/>
        <button class="goHash" data-hash="RZejhMkpklOTtLA0', this, 40, 250)" id="circular">Circular Motion</button>
        <br/>
    </div>
</template>